body {
    color: #5C6670;
    font-family: "Arial", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

ul {
    list-style: square;
    margin: 0;
    padding: 0 auto 0 0;
    overflow: hidden;
}

a {
    color: #1460aa;
    text-decoration: none;
}

a:hover {
    color: #880E22;
    text-decoration: none;
}

div#navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #981E32;
}

div#navbar ul li {
    float: left;
}

div#navbar ul li a {
    display: block;
    color: #d2d7d3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#navbar ul li a:hover:not(.active) {
    background-color: #880E22;
}

.active {
    background-color: #53565A;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    padding: 0;
    margin: 0;
}

h2 {
    font-style: italic;
}

h3 {
    text-decoration: underline;
}

.contents {
    margin: 8px;
    padding: 8px;
    border: solid 1px black;
}

.post {
    margin: 8px;
    padding: 8px;
    border: solid 1px black;
}

hr {
    margin: 0;
    padding: 0;
    height: 1px;
    border-width: 0;
    color: black;
    background-color: black;
}
